* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Poppins";
    position: relative;


    h1 {
        color: white;
    }

}




.content-container {

    height: 1000px;
    display: grid;

    gap: 20px;
    /* padding: 20px; */
}

.card {
    color: white;
    border-radius: 10px;
    background-color: #1b1b1ba9;
    padding: 30px;
    justify-content: center;
    align-items: center;

    p {
        text-align: justify;
        line-height: 30px;

    }

    h2 {
        font-size: 20px;
    }
}

.first-container {
    /* display: flex;
    overflow: hidden;
    gap: 20px;
    color: white; */

    gap: 20px;

    >div {
        &:nth-child(1) {

            p {
                font-weight: 200;

            }

            h2 {
                font-size: 45px;
                border: 1px solid white;
                opacity: 200px;
            }
        }

        &:nth-child(2) {
            p {
                font-size: 22px;
                font-weight: 200;

            }

        }
    }

}


.second-container {
    /* display: flex;
    color: white;
    gap: 20px; */

    >div {
        &:nth-child(1) {

            /* overflow: hidden;
            flex: 2;
            border-radius: 100px;
            background-color: #1b1b1ba9;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 130px;

            }

            >div {
                width: 80%;

                &:nth-child(1) {
                    text-align: center;

                }

                &:nth-child(2) {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;

                }
            }
*/
            img {
                cursor: pointer;
                transition: .3s;
            }

            .pic1:hover,
            .pic2:hover,
            .pic3:hover,
            .pic4:hover {
                transform: scale(1.5);

            }


        }

        &:nth-child(2) {
            position: relative;

            img {
                width: 200px;
                position: absolute;
                top: -85px;
                right: 30px;
            }

            h1 {
                text-align: center;
            }

            p {
                font-size: 30px;
                font-weight: 200;
                letter-spacing: 2px;
            }
        }
    }

}

.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
}



@media (max-width: 767px) {
    .content-container {
        padding: 0 10px;
    }

    .first-container {
        display: grid;

        >div {
            &:nth-child(1) {


                h1 {
                    font-size: 50px;
                }

                h2 {
                    font-size: 18px;
                    margin-top: 10px;
                }


            }

            &:nth-child(2) {
                h1 {
                    font-size: 50px;
                    text-transform: capitalize;
                }

                h2 {
                    font-size: 18px;
                    margin-top: 10px;
                }


            }
        }

    }


    .second-container {
        display: grid;
        gap: 20px;

        >div {
            &:nth-child(1) {

                h1 {
                    text-align: center;
                }

             
                .images {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
               

                    img {
                        max-width: 100px;
                        width: 100%;
                        object-fit: cover;
                        
                    }
                }

                /* >div {
                    width: 80%;
    
                    &:nth-child(1) {
                        text-align: center;
    
                    }
    
                    &:nth-child(2) {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
    
                    }
                }
    
                img {
                    cursor: pointer;
                    transition: .3s;
                }
    
                .pic1:hover,
                .pic2:hover,
                .pic3:hover,
                .pic4:hover {
                    transform: scale(1.5);
    
                } */


            }

            &:nth-child(2) {


                img {
                    width: 120px;
                    position: absolute;
                    top: -40px;
                    right: -10px;
                }


            }
        }

    }
}

@media (min-width: 768px) {

    .content-container {
        p {
            font-size: 18.5px;
        }
    }

    .first-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        >div {
            &:nth-child(1) {}
        }
    }


    .second-container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;


        >div {


            &:nth-child(1) {

                h1 {
                    text-align: center;
                }

                .images {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;


                    img {
                        max-width: 140px;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                /* >div {
                    width: 80%;
    
                    &:nth-child(1) {
                        text-align: center;
    
                    }
    
                    &:nth-child(2) {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px;
    
                    }
                }
    
                img {
                    cursor: pointer;
                    transition: .3s;
                }
    
                .pic1:hover,
                .pic2:hover,
                .pic3:hover,
                .pic4:hover {
                    transform: scale(1.5);
    
                } */


            }

            &:nth-child(2) {


                img {
                    width: 120px;
                    position: absolute;
                    top: -40px;
                    right: -10px;
                }


            }
        }

    }

}