* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    color: white;
    font-family: "Poppins";
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;

   



}

.container {

    display: grid;
    place-items: center;
}



.first-container {
    display: grid;
    place-items: center;
    gap: 20px;
    background-color: #1b1b1ba9;
    border-radius: 50px;
    padding: 50px;


    >div {


        img {
            width: 450px;
            padding: 10px;
            border-radius: 20px;
            transition: .2s;
            box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1)
        }

        :hover {
            transform: scale(1.08);
        }

    }

}


@media(max-width: 767px) {


    .first-container {

        >div {

            display: grid;
            place-items: center;
            padding: 10px;
            gap: 20px;
            flex-wrap: wrap;


            img {
                width: 250px;
            }
        }
    }



}

@media (min-width: 768px) and (max-width: 1024px) {


    .first-container {

        >div {

            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;



            img {
                width: 350px;
            }
        }
    }

}

@media (min-width: 1025px) and (max-width: 1408px) {


    .first-container {

   


        >div {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;

            img {
                width: 350px;
            }
        }
    }

}



.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
    top: 0;
}



@media(min-width: 1409px) and (max-width: 1458px){

.first-container{


> div{

    text-align: center;
    justify-content: center;
    align-items: center;


}

}

}

@media(min-width: 1459px) and (max-width: 1912px){

.container{


    img{
        max-width: 320px;
    }
}


}
