* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 20px;
    background-image: linear-gradient(to left bottom, #111111, #0d0d0d, #090909, #050505, #000000);
}


.container {
    background-color: #1b1b1ba9;
    padding: 50px;
    border-radius: 20px;
    max-width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-family: "Poppins";
        color: white;
    }

    >div {
     
        

        &:nth-child(2) {
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            padding: 5px;
        }


        &:nth-child(3) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            gap: 20px;
            padding: 5px;
        }


        img {
            max-width: 400px;
            width: 100%;
            gap: 20px;
            object-fit: cover;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        :hover{
            transform: scale(1.05);
        }

    
    }


}

@media (max-width: 767px) {

    .container {


        &:nth-child(2){
            display: flex;
           
         
        }

        
        &:nth-child(3){
            display: flex;
            flex-wrap: nowrap;
            
        }




        img {
            height: auto;
            width: 100%;
            
        }

    }
}

@media (min-width: 768px){
    .container {


        .first-container {
            display: flex;
            img {
                height: auto;
                width: 100%;
            }
        }

        
        &:nth-child(3){
            display: flex;
            flex-wrap: nowrap;
        }
    }
}



.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -100;
}